[2015-06-14 18:46] adamliter opened #1 "\doi is an undefined control sequence"
On line 257 of biblatex-sp-unified.bbx, you have `\DeclareFieldFormat{doi}{\doi{#1}}`, but `\doi` never seems to be defined anywhere.

Here's an MWE that illustrates the problem and also gives one possible way you might define `\doi`.

[code]

[2015-06-14 18:48] adamliter commented on #1
Ah, I see that you define it in `sp.cls` as `\newcommand{\doi}[1]{\url{http://dx.doi.org/#1}}`.

Still, it might be nice if the BibLaTeX style could stand on its own.

[2015-06-14 19:02] fintelkai commented on #1
Good point. I'll look into this. Might make sense to check whether there are other such macros that belong more in the BibLaTeX style than in sp.cls.

[2015-06-14 19:08] adamliter commented on #1
Sounds good. Thanks! And thanks for making this style publicly available, too. `:)`

[2015-06-15 20:45] adamliter opened #2 "@incollection and @inproceedings drivers are largely redundant"
It looks like the only difference between the drivers that you have for the `@incollection` entries and `@inproceedings` entries is that `@inproceedings` entries include

[code]

after `\printfield{note}%` whereas `@incollection` entries do not.

You can see that the drivers and their output are nearly indentical.
### MWE

[code]
### Output

![screen shot 2015-06-15 at 4 17 45 pm](https://cloud.gi

[2015-07-01 03:25] adamliter commented on #2
This is a bit tangential to the content of the issue as I originally phrased it, but I have a further suggestion about the driver for `@inproceedings` (and I don't want to open another issue and overwhelm you `:)`). Given that the Unified Style Sheet says that conference proceedings published with ISSNs should be treated as articles, what do you think about defining the driver for `@inproceedings`

[2015-07-27 14:03] schar opened #3 "Interaction between language and title capitalization"
I have the following entry in my `.bib` file:

[code]

This typesets just fine using the S&P-recommended `biblatex` setup -- specifically, the title is capitalized `Against LF pied-piping`. However, if I add `Language = {English}` as a field, the title is output as `Against LF Pied-Piping`.

In my `.sty` file, I use the following to prevent a citation's language from being printed in the bibliogra

[2015-07-27 18:23] adamliter commented on #3
This happens because of line [248 in `biblatex-sp-unified.bbx`](https://github.com/semprag/biblatex-sp-unified/blob/master/biblatex-sp-unified.bbx#L248).

It says:

[code]

If you read the description of `\MakeSentenceCase*` on p. 193 of the [`biblatex` manual](http://texdoc.net/texmf-dist/doc/latex/biblatex/biblatex.pdf) it says:

Your call to `\DeclareSourceMap` sets the `langid` field to `Engli

[2015-07-28 03:22] adamliter commented on #3
After investigating this a bit further, this really seems like it's bad practice on the part of the publishers that are doing this. Capitalization should _not_ be used in the `language` entry field. The language will be correctly capitalized when it is typeset by `biblatex`.

@schar If you omit your `\DeclareSourcemap` in the MWE that I gave above and add `clearlang=false` to the `biblatex` option

[2015-07-28 13:58] schar commented on #3
Thanks, @adamliter. This is helpful. I agree that this seems like the publishers' mistake -- assuming the `english`/`English` thing isn't a peculiarity of `biblatex`.

I'll leave this open a little longer, in case @fintelkai or someone else wishes to weigh in.

[2015-07-28 14:07] adamliter commented on #3
@schar No problem! And I'm not sure that I honestly understand what you mean when you say "assuming the `english`/`English` thing isn't a peculiarity of `biblatex`". The `language` and `langid` fields are only available with `biblatex`, not BibTeX, so this is a thing that is indeed specific to `biblatex.`

But the preference for lowercase is for a very good reason—namely, since `biblatex` relies o

[2015-09-02 14:24] #1 closed, assigned to fintelkai

[2015-09-02 14:53] adamliter commented on #1
:+1: :smile:

[2015-09-03 13:54] fintelkai commented on #2
Thanks for this. I've pulled in your changes. Works well. There's on issue that I haven't had time to iron out. Your code inserts a period between the proceedings title and the volume(number) info. To make it just like the journal article entry, that period will have to go. If you can figure it out, let me know. I may open an issue just to not forget about this.

[2015-09-03 13:54] #2 closed, assigned to nobody

[2015-09-03 13:57] fintelkai opened #6 "@inproceedings should not insert a period between title and volume(number)"
The intent of the ISSN-triggered typesetting of @inproceedings entries is that they should look just like journal articles. But currently, there's a period inserted between the booktitle and volume(number):

[code]

The period should not be there. Here's what the entry looks like when set as a journal article:

[code]

[2015-09-03 14:14] fintelkai commented on #3
Seems like the two of you came to a good conclusion. Nothing for biblatex-sp-unified to do here. Closing the issue. Thanks!

[2015-09-03 14:14] #3 closed, assigned to nobody

[2015-09-03 19:07] adamliter commented on #6
Here is an MWE that reproduces the problem mentioned by @fintelkai above with the current implementation.

[code]

[2015-09-03 19:27] adamliter commented on #6
I tested the changes in #7 with the above MWE, and it fixes the problem. Sorry about introducing that bug!

[2015-09-03 21:52] #6 closed, assigned to nobody

[2015-09-09 19:29] adamliter opened #8 "What to do when issuetitle and editor are present in an @article entry?"
With the current implementation of `biblatex-sp-unified` (77705180f97bcc4489e62a23b5a8eba6719a21f3), the MWE given below will lead to this output in the References section:

I have a few questions about this, and at the risk of being perhaps a bit chatty and a bit off-topic for a GitHub Issue, I feel like I should also be transparent about why I'm asking. :smile:

A friend and I are working on a p

[2015-09-10 14:12] fintelkai commented on #8
1. There's little I enjoy chatting about more than linguistics-related geekery. So, chat ahead. This is our github repo and we can do what we want with it.
2. Your lingbib project sounds great. I'm cc'ing Chris Brown, who's been working on a similar idea. I don't know what the status of that is, but maybe you guys should talk.
3. I completely agree that portability of bib-files is important. Ideal

[2015-09-10 19:09] adamliter commented on #8
Awesome! Kenneth—the friend who is working on the project with me—and I tried searching the internet prior to starting work on the project to see if we could find anyone else who had similar ideas or had already started work on a similar project. We didn't see anything, but if @chbrown has been working on something similar, it'd be great to talk as soon as possible and hopefully collaborate on som

[2015-09-10 20:49] fintelkai commented on #8
I've merged your PR. Closing this issue, but we will follow up on collaboration on the broader issues raised.

[2015-09-10 20:49] #8 closed, assigned to nobody

[2015-09-10 20:50] adamliter commented on #8
:+1: Thanks!

[2015-09-13 16:49] adamliter opened #10 "What to do about eprint information?"
Here's another one that might make more sense for some sort of working group to discuss.

If an entry contains any sort of `eprint` information (such as a JSTOR link), it is printed by the current implementation (2802b8743193c14a97691d4234d515881020da74). For the time being at least, I think the best option would be to not print it (i.e., to set `\ExecuteBibliographyOptions{eprint=false}` in `bibl

[2015-10-08 17:12] carbeck opened #11 "origanything?"
The documentation doesn't say anything on republished works, but I still wonder if it wouldn't be good to somehow be able to include this information as well – question is how, if you want to stay true to the original style guide. I think it would at least be helpful to be able to indicate the original publication date/year of a republished work by providing support for the `origdate` and `origyea

[2015-10-08 17:15] fintelkai commented on #11
Thanks for this issue. I will ponder. (I'm going to be away on vacation for ten days, but I wanted to comment so that you don't think you're being ignored.)

[2015-10-22 22:38] chbrown opened #12 "Title + subtitle interaction swallows punctuation"
Ending a title with `.` seems to prevent the `:` from showing up when using a subtitle. E.g.:

[code]

[2015-10-22 23:18] fintelkai commented on #12
Biblatex interprets the abbreviation dot in "et al." as a sentence ending period. If the title ends in a sentence-ending punctuation, inserting the usual colon would be ugly. Suppose the title is a question "How do presuppositions work?" ... in that case we wouldn't want to insert a colon between the title and the subtitle. The solution is to signal to biblatex that the dot is not a sentence perio

[2015-10-22 23:18] #12 closed, assigned to nobody

[2015-10-25 01:59] chbrown commented on #12
I tested your suggestions; both `.\isdot` and `.\@` solve the issue. Thanks for the clarification! — I added a short note about title/subtitle to [info.semprag.org/style](http://info.semprag.org/style)

[2015-10-26 15:47] adamliter opened #13 "Support for phdthesis as type specifier"
In your `unified-test.bib`, I see that you have:

[code]

In particular, with `Type = {dissertation}`, this will correctly output the following in order to conform to the Unified Style Sheet guidelines.

However, I think the better way to do this would be to use `Type = {phdthesis}`.

This type specifier receives crosslinguistic support, which you can see if you look at the various `.lbx` files th

[2015-11-01 18:52] adamliter commented on #13
Just so it's clear, here's an MWE that illustrates what I'm talking about:

[code]

In the first case (_i.e._, `stewart2000-phdthesis`) the output in the References section correctly changes from "dissertation" in (American) English to "tese de doutorado" in (Brazilian) Portuguese.

However, in the second case (_i.e._, `stewart2000-dissertation`), the output in the References section remains as "d

[2015-12-29 18:31] adamliter opened #15 "What to do when conference proceedings published with an ISSN have a volume number (such as BUCLD proceedings)?"
Given the guidelines in the [Unified stylesheet for linguistics](http://celxj.org/downloads/UnifiedStyleSheet.pdf), it seems like it is impossible to create a portable `.bib` entry for conference proceedings published with an ISSN that have a volume number.

Because of this, I'm wondering if it's worth revisiting the Unified stylesheet guidelines and I'm therefore also wondering if you've had a ch

[2015-12-30 17:32] fintelkai commented on #15
@adamliter I'm traveling at the moment but will attend to biblatex-sp-unified in January. Thanks for raising this issue.

[2015-12-30 20:48] adamliter commented on #15
Sounds good, @fintelkai. Happy traveling!

[2016-01-23 00:08] guidovw opened #16 "In-text citations with page numbers don't come out right"
I have an issue getting the unified bib style to work with bib latex. In sp-template.tex (with the biblatex option) I get in-text citation style like (McCarthy & Prince 1999, pp. 248-250), rather than (McCarthy & Prince 1999: 248-250). Citation in the text is \citep[248-250]{mccarthy:1999}.

@adamliter points out to me that the desired output can be achieved by putting the following lines in the p

[2016-01-23 02:30] adamliter commented on #16
:+1: :smile:

[2016-01-27 01:25] adamliter commented on #16
I actually just noticed that `sp-authoryear-comp.cbx` defines some commands for citations with pages. They are defined on lines [240](https://github.com/semprag/biblatex-sp-unified/blob/master/cbx/sp-authoryear-comp.cbx#L240)–[243](https://github.com/semprag/biblatex-sp-unified/blob/master/cbx/sp-authoryear-comp.cbx#L243).

But it's a bit odd to not support the "correct" formatting of citations wi

[2016-02-18 19:59] chbrown commented on #16
d34ecfd adds these lines. @adamliter can you open a new issue with a proposal for a "correct" formatting of citations using `\textcite` / `\autocite`? (I'm still getting up to speed with Biblatex vs. Bibtex so I'd appreciate a précis of the diff(erence) if you have the time)

[2016-02-18 19:59] #16 closed, assigned to nobody

[2016-02-18 20:53] #13 closed, assigned to nobody

[2016-02-18 21:07] chbrown commented on #13
Thanks @adamliter, for your clear explanation. 75d9f9b merges your `phdthesisonly` branch (namely f5c6802) and b2c110f changes the `unified-test.bib` values.

I'm not sure we're ready to go the whole hog and incorporate recommendations for the other changes you mention, namely:
- `@phdthesis` -> `@thesis`
- "School" -> "Institution"
- "Address" -> "Location"

but that's something we can revisit at

[2016-02-18 21:13] adamliter commented on #16
@chbrown By "correct" formatting, I meant the actual final display (_e.g._, (Chomsky 1981: 55–57), rather than (Chomsky 1981, pp. 55–57)) and not anything to do with the actual source code.

As far as Biblatex citation commands go, you could take a look at pp. 85–96 of the [Biblatex manual](http://texdoc.net/texmf-dist/doc/latex/biblatex/biblatex.pdf).

`\autocite` is a higher-level style-independ

[2016-02-18 21:25] adamliter commented on #13
:+1:

[2016-02-18 21:47] #10 closed, assigned to nobody

[2016-02-18 22:15] chbrown commented on #10
Makes sense. There are no used `eprint` fields in our source materials, and only 1 in my entire set of over 7500 bibliography entries (of which only a fraction are rendered in any given S&P article) from submissions published in the last ~5 years, so it seems to be a relatively rare field anyway.

[2016-02-18 22:20] chbrown commented on #15
I'm thinking this might be outside the scope of `biblatex-sp-unified`, especially now that `lx-unified-v2` is in the works.

[2016-02-18 23:58] adamliter commented on #10
:+1:

[2016-02-19 00:11] adamliter commented on #15
@chbrown Yes, I suppose that's probably true.

[2016-03-16 00:53] chbrown opened #17 "Multiple editors not abbreviated"
For an `@inproceedings` entry, if there are a lot of editors (like 3+) in the `editor = {...}` field, they should be abbreviated with "et al."

But if you use a literal "et al." the resulting "(ed.)" isn't accurate; it should be "(eds.)", as it is when there are multiple editor names.

[2016-03-27 01:09] chbrown opened #18 "\posscitet{auth1key1,auth1key2} does not collapse author name"
It's a rare case, but I would expect something like `\posscitet{AlonsoOvalle2006,alonso2008innocent}` to output:

Instead, the actual output is:

[2016-03-28 11:23] alecshaw opened #20 "URL dates following ISO 8601?"
Given that the Unified Stylesheet should be useable by researchers all over the world, and that this is an opinionated implementation, would it not be better to issue URL dates in the international date format of YYYY-MM-DD as defined in ISO 8601?

[2016-03-28 18:08] fintelkai commented on #20
Thanks for the suggestion. We probably won't change this style in this regard unless and until the Unified Stylesheet gets revised (for more on that see https://github.com/lx-unified-v2/lx-unified-v2). Pending that, we might consider making the urldate display a configurable option.

[2016-03-29 18:04] alecshaw commented on #20
Thanks for pointing me to the lx-unified-v2 repository. I'll take this suggestion over there.

[2016-03-29 18:04] #20 closed, assigned to nobody

[2016-04-14 20:46] fintelkai commented on #17
The correct way to deal with this is to set the max{bib|cite}names options when calling biblatex. sp.cls calls biblatex with these options: maxcitenames=3, maxbibnames=99. This truncates in-text citations to the first three authors, but in the bibliography all (well up to 99) authors/editors are listed. If we want to truncate long author/editor lists in the bibliography as well, we would just set

[2016-04-14 20:46] #17 closed, assigned to nobody

[2016-06-19 14:45] schar opened #21 "Updating to MaxTeX 2016 broke something"
Here is a simple document:

[code]

Which refers to this simple `bib` file:

[code]

This used to work. After updating my MacTeX distribution this Sunday morning and (full disclosure) doing a `sudo tlmgr update --all`, I now receive errors like the following:

[code]

Curiously, if either the `Author` or `Title` field is missing, I don't get an error. Moreover, if I remove the `bibstyle` option, t

[2016-06-19 15:32] schar commented on #21
Per [this answer and the highlighted comment in particular](http://tex.stackexchange.com/questions/315532/mactex-2016-somehow-broke-a-bbx/315537?noredirect=1#comment769961_315537), this can be resolved by loading `babel` with a language option (e.g., `english`). See also the discussion [here](https://groups.google.com/forum/#!msg/comp.text.tex/FKahkrwlS4Q/Q6bJgcCjDAAJ).

[2016-06-19 15:32] #21 closed, assigned to nobody

[2016-06-19 17:43] fintelkai commented on #21
@schar Thanks for raising this issue and finding the solution. We knew that BibLaTeX 3.3./3.4 is a bit of a disaster for our style file(s) and trying to figure what else it broke is on our plate.

[2016-06-23 17:44] fintelkai commented on #21
I have now read up on the issue. This is a bug in Biblatex v3.4 and is supposed to be fixed on v3.5. So, I suppose we won't change biblatex-sp-unified. On the other hand, I doubt anybody has actually made use of the fact that we allow setting a `langid` field in individual bib-entries, which then is taken account when a title is made into sentence case. If we could live without that future-proofin

[2016-06-23 20:24] fintelkai commented on #11
Getting back to this: do you have a suggestion of how the original year should be displayed?

[2016-06-23 21:51] carbeck commented on #11
I suppose a very straightforward way could be to use brackets after the publishing year of the reprint.

[2016-09-19 14:01] alecshaw opened #22 "Sentence case breaks with non-English languages through Polyglossia"
When `\setdefaultlanguage{}` from the `polyglossia` package is set to something other than `english` (in this case I was using `icelandic` but also tested `german`), `.bib` entries do not appear in sentence case, but rather as they were input, in this instance in title case in the `.bib`.

[EDIT] I'm going to put up a MWE, but now the whole thing is broken, so I'm stalled on the _working_ part.

[2016-09-19 14:42] fintelkai commented on #22
This is working as intended. We use the `\MakeSentenceCase*` command of biblatex, which performs the conversion to sentence case only if the language is a version of English. Other languages typically do not have a concept of setting titles in sentence case. If you want to override this yourself, look at the biblatex documentation, specifically the `\DeclareCaseLangs*` command.

[2016-09-19 14:42] #22 closed, assigned to nobody

[2016-09-19 15:41] alecshaw commented on #22
I see. Thank you!

[2016-09-26 02:02] adamliter opened #23 "labeldate has been renamed to labeldateparts in Biblatex 3.5 and subsequent"
If you look at the [3.5 release notes](https://github.com/plk/biblatex/wiki#release-notes-for-version-35), you'll see:

Currently, trying to compile with Biblatex 3.6 gives:

[code]

This is because `labeldate` is now a key that (from the manual) "controls the format of the date  field selected with `\DeclareLabeldate`". `labeldateparts` now does what `labeldate` used to do.

More information on T

[2016-09-26 02:15] adamliter opened #24 "\printdateextralabel has been renamed to \printlabeldateextra in Biblatex 3.5 and subsequent"
If you look at the [3.5 release notes](https://github.com/plk/biblatex/wiki#release-notes-for-version-35), you'll see:

Currently, trying to compile with Biblatex 3.6 gives:

[code]

[2016-09-26 02:37] adamliter commented on #23
cc @guidovw

This needs to be fixed in `biblatex-gl.bbx` and `gl-authoryear-comp.cbx` of the _Glossa_ LaTeX bundle as well.

[2016-09-26 02:38] adamliter commented on #24
cc @guidovw

This needs to be fixed in `biblatex-gl.bbx` of the _Glossa_ LaTeX bundle as well.

[2016-09-27 19:33] #23 closed, assigned to nobody

[2016-09-27 19:33] #24 closed, assigned to nobody

[2016-09-27 19:35] fintelkai commented on #24
Thanks for the catch and the fix. Much appreciated.

[2016-09-27 19:35] fintelkai commented on #23
Thanks for the catch and the fix. Much appreciated.

[2016-11-29 22:54] waltonpcoutinho commented on #1
Many thanks for the solution!

[2017-03-14 14:11] alecshaw opened #30 "LingBuzz eprint support"
Hello, I have implemented support for the `eprint` and `eprinttype` for the LingBuzz (http://ling.auf.net/lingbuzz) repository.

I think it's cleaner than having a whole URL.

![lingbuzz-eprint](https://cloud.githubusercontent.com/assets/10132281/23904406/a6abb04c-08bf-11e7-8063-984030ef2e67.png)

I'm wondering what everyone thinks of this, and whether a pull request would be accepted.

If so, the

[2017-03-16 18:49] fintelkai commented on #30
@alecshaw Please do propose the code. We have to update the display of DOIs anyway (new guidelines say to use "https://doi.org/..." instead of "http://dx.doi.org/...". So, revisiting the URL displays in general makes sense. I'm thinking we might want an option that controls whether full URLs are displayed or short versions like yours (and similarly for DOIs).

[2017-03-16 19:38] alecshaw commented on #30
Alright. I can also go ahead and implement that fix to the DOI URL, if that's fine with you.

[2017-03-17 17:20] #30 closed, assigned to nobody

[2017-03-21 14:04] fintelkai commented on #30
Thanks for the PRs. We will cherry-pick the changes and wrap them so as to allow the users to choose whether to display full URLs or the shortened versions. Stay tuned.

[2017-03-31 18:30] #18 closed, assigned to nobody

[2017-04-08 19:59] anghyflawn opened #33 "Date ranges in citations"
BibLaTeX allows the `.bib` file to contain date ranges, which is useful (among other things) for items such as dictionaries and dialect atlases that come out over several years but where it doesn't really make sense to refer to the individual volumes. The date range gets correctly printed in the bibliography, but only the initial year is shown in the citation. I'm afraid I failed to understand how

[2017-04-09 00:58] fintelkai commented on #33
Thank you. FWIW, if you switch to the standard authoryear-comp citestyle (`citestyle=authoryear-comp`), the label is printed correctly. Sigh. I'm trying to figure out why I rewrote all of authoryear-comp rather than just pull it in and tweak what needed to be tweaked. Stay tuned. Might take a while.

[2017-04-17 12:09] NaoBerlin opened #34 "Can't find where to install the files"
Hello, I'm new to LaTeX, so please excuse me for this simple question. I do not understand WHERE to put the two files. It says "where your TeX system can find them" and I'm working on Mac OSX 10.10.5, but not with MacTeX distribution (as far as I know) and I don't even understand what "create the directory structure: mkdir -p $(kpsewhich -var-value TEXMFHOME)/tex/latex/biblatex" means...

+ in my

[2017-04-17 14:42] alecshaw commented on #34
Hi there,
You should run the following commands from the terminal and perform the remaining steps:
1. `mkdir -p $(kpsewhich -var-value TEXMFHOME)/tex/latex/biblatex`
– This will create the directory structure you need, presumably at `~/Library/texmf/`
2. `open ~/Library/texmf/tex/latex/biblatex`
3. Copy the folders `bbx` and `cbx` into the now open `biblatex` folder
4. Add the following to the `Ma

[2017-04-17 17:11] NaoBerlin commented on #34
Thanks Alex for your quick response! It helped me to do it step by step and it approximately worked.
Still having three issues:
- before loading the package for the United Style Sheet, I could simply click on the year of a reference in the text (for instance: As Person (2012) shows, blabla) and it would bring me directly to the bibliography at the end - a feature which seems not to be displayed wi

[2017-04-20 13:13] alecshaw commented on #34
Alright, for your first point, have you loaded `hyperref` after `biblatex`? I recommend loading `hyperref` as your final package in the `.cls` file.

I'm afraid I can't reproduce your other two points. Both code snippets, as you've set them, work for me. As a recommendation, move `\newcommand{\citess}[1]{\citeauthor{#1}'s\ (\citeyear{#1})}` after your package declarations, if they're not there.

I

[2017-04-22 09:35] timmli opened #35 "inbook not handled correctly"
Bibentries of type `inbook` are not handled correctly. Say I have the following entry:
[code]
 This will be oddly typeset as

Language Structures Online. Matthew S. Dryer & Martin Haspelmath (eds.).
Leipzig: Max Planck Institute for Evolutionary Anthropology. http://wals.
info/chapter/87.

Sure, I could just change the entry type, but this makes the whole thing unnecessarily error-prone. I cannot

[2017-04-24 11:56] fintelkai commented on #35
Sounds reasonable. We'd accept a PR along those lines.

[2017-04-27 01:02] adamliter commented on #34
@NaoBerlin Dunno if this would be helpful, but I did an impromptu workshop on LaTeX at the Chicago Linguistic Institute, and there's a [handout/document from that workshop available here](https://www.adamliter.org/content/LaTeX/latex-workshop-for-linguists.pdf). It talks about how to set up a local `texmf` folder (and also why), which is what you just did with that `mkdir` command.

Parts of the d

[2017-04-27 07:18] NaoBerlin commented on #34
@alecshaw I have not forgotten you but I still did not have the time to try what you suggested in your message - for now, I really need to write, even though the bibliography might not look nice ;) I will tell you how it looks like, sorry for the delay!

@adamliter Thank you so much, it looks very interesting indeed!

I am really amazed, the LaTeX community is so helpful and friendly :)

[2017-04-27 17:49] adamliter commented on #34
@NaoBerlin No problem. If you do read it and have feedback, like I said, please let me know. I'm open to adding things if you think there's something that I didn't cover that would be helpful, and I'd also appreciate feedback if something isn't clear, so I can improve it.

[2017-05-18 09:58] NaoBerlin commented on #34
@alecshaw Sorry for replying so late. I have loaded
\usepackage[backend=biber,
            bibstyle=biblatex-sp-unified,
            citestyle=sp-authoryear-comp,
            maxcitenames=3,
            maxbibnames=99]{biblatex}
at the end of the .cls file as you suggested and it resolved the issue about clicking on a reference to directly come to the bibliography section. Thank you!

Unfortunatel

[2017-05-18 12:02] patrl commented on #34
Fellow biblatex-sp-unified user here. It's sounds like there are some issues with your .bib file. Biblatex bibliographies are slightly different to bibtex biblioraphies. It might help to consult the biblatex documentation: http://ctan.mackichan.com/macros/latex/contrib/biblatex/doc/biblatex.pdf, there are certain options you can pass to biblatex to either display the url or not, etc.

I'm also a B

[2017-05-18 12:02] patrl commented on #34
@NaoBerlin Fellow biblatex-sp-unified user here. It's sounds like there are some issues with your .bib file. Biblatex bibliographies are slightly different to bibtex bibliographies. It might help to consult the biblatex documentation: http://ctan.mackichan.com/macros/latex/contrib/biblatex/doc/biblatex.pdf, there are certain options you can pass to biblatex to either display the url or not, etc.

[2017-05-18 12:20] NaoBerlin commented on #34
@patrl Thanks for the documentation! I couldn't find anything specifically related to my specific problems because I used the package available to download on this page and did not add any option myself... and normally, there are no mentions of the language in the Unified Style Sheet, which is why I'm surprised.

But let's meet over a coffee! :) Thanks for the offer.

[2017-05-18 15:01] adamliter commented on #34
@NaoBerlin As @patrl says, the "problem" here is probably with your .bib file. The biblatex-sp-unified style is built in top of the default authoryear style in biblatex. By default, this style shows basically all of the information in the .bib file. So any information in your .bib file above and beyond what the Unified Style Guidelines actually call for will nonetheless show up.

Unfortunately, in

[2017-05-18 15:24] NaoBerlin commented on #34
Hello @adamliter thank you! I appreciate your help. I provided two examples from the bibliography that do not display properly:
1) Language ("de" here) and the Google Book ID:
Adamzik, Kirsten. 2004. Textlinguistik. Eine einführende Darstellung. de. Google-Books-
ID: ioImMNMzCjAC. Tübingen: Max Niemeyer Verlag.
2) Pages missing in a book chapter reference:
Amossy, Ruth. 2002b. Ethos. Patrick Cha

[2017-05-18 16:47] alecshaw commented on #34
@NaoBerlin I'm glad that some of the earlier suggestions have helped.

Perhaps @adamliter and @patrl have a better method for accomplishing this, but based on `(\citealp[2]{grunert_untersuchungen_1974}, quoted by \citealp[4]{feldman_introduction_1998})`, I think what you want is something like:

To my mind, the best solution I can come up with straight away is: `(\cite[2]{grunert_untersuchungen_19

[2017-05-19 07:33] NaoBerlin commented on #34
Hello everyone! Thank you very much for your help.

About the command that is not recognized with the Unified Style Sheet: with natbib, it gives something like that when the document is compiled: (McEnery andWilson, 1996, p. 1; quoted by Baker, 2006, p. 1). "... (Grunert 1974: 2, quoted by Feldman 1998: 4)": this is what I want, @alecshaw! :)

The first solution you suggested (replace it with \cit

[2017-05-19 07:40] NaoBerlin commented on #34
@alecshaw @adamliter @patrl
PS: Still struggling to understand the difference between Biblatex bibliographies and bibtex bibliographies and which one I am actually using (without even knowing it), but I will take time this week-end to go through the documentation. So sorry if my questions are irrelevant because of that!

[2017-05-19 14:27] alecshaw commented on #34
Hi again,
The thing that immediately jumps out at me for the second entry which does not display the page range is the entry type `@misc`. Given the text source, it should be `@incollection`. To fix this in Zotero, I believe you change "Item type" to "Book section", but I don't use Zotero to make `.bib` files.

Personally, I believe there's a lot of value in writing your own .bib files.

Just chan

[2017-05-19 14:41] NaoBerlin commented on #34
@alecshaw Thank you very much! I will try this week-end. I am just a little bit confused: Are you suggesting that I should **manually** correct the reference in the .bib file?
- journal to booktitle
- the ordering of the editor and author fields?

I do not deny this might better to write the .bib files **in general**. But as I said, I have over 3000 references and I have been working with Zotero f

[2017-05-19 16:32] alecshaw commented on #34
I think that it is best to check what the type of each entry is in Zotero and change it from Miscellaneous to something else to see if this fixes your problem.

In the case of individual entries that don't appear as you want them, if you're not able to get Zotero to format them the way you would like, I recommend manually editing _just_ those entries giving you trouble, and not all 3000 entries.

[2017-09-28 14:59] apc opened #36 "The cbx files in the langsci package in TeXLive 2017 is given priority over these by XeLaTeX"
I don't quite know what the best solution to this would be. But here's an issue I just ran into: the [langsci](https://www.ctan.org/pkg/langsci) package in CTAN (which is part of TeXLive) contains a file also named `sp-authoryearcomp.cbx`. But that file lives under `$TEXMF-DIST/tex/xelatex/` and not inside `$TEXMF-DIST/tex/latex/biblatex/`. As a result, `xelatex` gives it priority over the `cbx` f

[2017-09-28 15:57] fintelkai commented on #36
Thank you, we're aware of the issue. It's been addressed at the langsci end. See https://github.com/langsci/latex/issues/50 and https://github.com/langsci/CTAN/issues/2. If you update TeXLive (via the TeX Live Utility, for example), you will get a version of langsci that doesn't have the offending files.

[2017-09-28 15:57] #36 closed, assigned to nobody

[2017-10-03 08:30] HedvigS opened #37 ".bst?"
Are there any plans on making a .bst file, so that one doesn't need to use Biber? Or have I misunderstood something? Or should I just get on the Biber-train.. ?

[2017-10-03 10:29] fintelkai commented on #37
Not sure I understand your question. As the documentation says, there's a bst file corresponding to the Unified Stylesheet: http://celxj.org/downloads/unified.bst. This can be used as a drop-in for a conventional bibtex/natbib setup for authors who want to follow the Unified Stylesheet but are not ready for biber/biblatex.

`biblatex-sp-unified` is a biber/biblatex-based implementation of the Unif

[2017-10-03 10:29] #37 closed, assigned to nobody

[2017-10-03 10:40] HedvigS commented on #37
Ah, I'm stupid. Thank you.

[2017-11-04 16:48] moewew opened #38 "Upcoming changes in biblatex 3.8"
`biblatex` 3.8 is scheduled for release quite soon.

At least one of the changes is relevant for your style.
- `extrayear` is going to be renamed to `extradate`, and all macros names making reference to that field are also going to be changed.
The old names should continue to work, but will issue warnings, so it would be appreciated if styles were to use the new names sooner rather than later.

Yo

[2017-11-06 11:54] fintelkai commented on #38
Thanks for the heads up, @moewew !

[2017-11-14 23:07] fintelkai commented on #38
Thanks, @alecshaw. Is this backwards-compatible or will older version of biblatex croak now? Compare https://github.com/semprag/biblatex-sp-unified/pull/27 for how we added some guards for a previous change. This is perhaps moot now? I really don't know for how many versions of biblatex, we should add conditionals.

[2017-11-14 23:22] alecshaw commented on #38
Right, that hadn't occurred to me. Sorry about that. Likely croaking in older versions. I'll look into a conditional like #27 to maintain backward compatibility. I think given that the deprecation is just one version out, I think a conditional makes sense here.

I like to have the latest updates for things, but I know a few users never update their LaTeX installations. Any thoughts from the commun

[2017-11-21 21:17] #38 closed, assigned to nobody

[2017-11-21 21:26] chbrown commented on #38
I merged #39 as-is, and added a section about supporting older biblatex versions (via tags) to the README: https://github.com/semprag/biblatex-sp-unified#backward-compatibility

My reasoning:
* Since `biblatex-sp-unified` is not (currently) published to CTAN, it's installed from source, in which case it's pretty easy to switch out `master` with a tag (like `3.6.0`) in the URLs.
* Versioning is kin

[2017-11-21 22:26] chbrown commented on #34
95fb52c incorporates most of the generally-applicable advice from this thread into the README.

Thanks to everyone for chipping in and helping @NaoBerlin!

[2017-11-21 22:26] #34 closed, assigned to nobody

[2017-11-21 22:32] #35 closed, assigned to nobody

[2017-11-21 22:44] chbrown commented on #15
In line with my previous remark, I'm closing this as out-of-scope with regard to `biblatex-sp-unified`'s goals, which is to implement the Unified stylesheet with minimal changes.

As linked above, discussion continues in https://github.com/lx-unified-v2/lx-unified-v2/issues/4

If you develop a fix that supplements the current behavior in a USL-compliant way, please submit a PR and add a comment he

[2017-11-21 22:44] #15 closed, assigned to nobody

[2017-11-21 23:15] chbrown commented on #11
At [*S&P*](http://semprag.org/), we use the `note` field for this purpose, with values like `{Original work published 1953}` or `{Republished 1966}`.

I agree that supporting the standard BibLaTeX `origdate` and `origyear` fields would be nice, but since there is no specification for how to format these in the _Unified style sheet for linguistics_, I'm closing this.

I'd recommend starting a discu

[2017-11-21 23:15] #11 closed, assigned to nobody

[2017-11-22 16:29] adamliter commented on #35
This is a bit belated, but, for what it's worth, this isn't exactly in line with the semantics that the `@inbook` entry type has. To quote from the Biblatex manual:

And, furthermore `@collection` is described as:

Compare this to how `@book` is described:

Given that WALS online is [described as](http://wals.info/) "a separate publication, edited by Dryer, Matthew S. & Haspelmath, Martin", where

[2017-11-22 16:48] chbrown commented on #35
No, it's not the most proper/accurate solution, but I have run into the same problem as timmli, where `@inbook` seemed more appropriate than `@incollection`, but I switched to `@incollection` because it looked better.

And in the company of [`\DeclareBibliographyAlias{collection}{book}`](https://github.com/semprag/biblatex-sp-unified/blob/dc96bb7/bbx/biblatex-sp-unified.bbx#L487) and [`\DeclareBib

[2017-11-22 20:54] adamliter commented on #35
@chbrown Fair enough, that makes sense. 😄

[2017-11-23 13:55] fintelkai commented on #35
I agree with @chbrown. This is not a matter where `biblatex-sp-unified` should innovate something that goes beyond the Unified Style Sheet. If there should be a differentiated treatment of `@inbook` and `@incollection`, then this should be taken to the discussion of the USLv2 (https://github.com/lx-unified-v2/lx-unified-v2).

[2018-02-26 08:39] moewew opened #40 "\let\citep\parencite disables natbib compatbility mode"
The definitions in
https://github.com/semprag/biblatex-sp-unified/blob/dc96bb703a018b0b3a2886d14a54ccb58052044a/cbx/sp-authoryear-comp.cbx#L291-L302
are a bit too aggressive, as can be seen in https://github.com/langsci/latex/issues/75. In particular the `\let\citep\parencite` disables `biblatex`'s `natbib` compatibility mode for `\citep`, but the same holds for `\citet` and `\citealt`.

I'm also

[2018-02-26 12:47] fintelkai commented on #40
Thanks for pointing this out. biblatex-sp-unified was written by a rank amateur (me) and help like this is very much appreciated. We'll see what we can do.

[2018-03-02 16:15] ghost opened #41 "Problems with recognizing \begin{document} when trying to use this"
Hello,

i have tried to use your biblatex-sp-unified.bbx file in my document.  While trying to typeset it, the following error occured:
[code]

As you can see, i am using Miktex 2.9 on Windows and tried to follow your instructions. After saving the bbx file into  biblatex\bbx and  and the cbx file into biblatex\cbx ,  i ran  "miktex option" and executed "Refresh FNDB".
The error i mentioned does n

[2018-03-02 16:50] fintelkai commented on #41
My guess is that you didn't actually save the two textfiles with extensions bbx and cbx. Rather you saved the html source of the github pages displaying those files. That's why LaTeX hiccups with the error message that displays `<!DOCTYPE html>`. Go to the two files on github, in each case click on "Raw" and then save the plain text file that is displayed.

[2018-03-05 22:45] alecshaw commented on #40
Hi everyone. I'm working on resolving this, and for now removing the `\let\citep\parencite` line resolves the issue in https://github.com/langsci/latex/issues/75. What was the motivation for these `\let` declarations, and could we scrap them?

[2018-03-06 15:17] fintelkai commented on #40
Honestly, the motivation is probably lost in the mist of time. It may be
that at the time, we were not fully aware of the natbib compatibility
option/code.

-- Kai.

On 5 Mar 2018, at 17:45, Alec Shaw wrote:

[2018-03-06 15:28] moewew commented on #40
I would just drop the entire block mentioned in my first post. The `natbib` compatibility mode can automatically take care of `\citealt`, `\Citealt` `\citet`, `\Citet`, `\citep`, `\Citep`.

The only drawback here is that your style can not enable the `natbib` compatibility mode itself, since the `natbib` option can only be used at loading time. The user will have to do that consciously herself. Th

[2018-05-07 09:40] sieversMartin opened #42 "CTAN upload"
Is there any (good) reason, why you haven't uploaded your package to CTAN yet? It would be a great benefit to everyone not having to install the package manually.

If it is only a question of format and/or time, I'll be glad to help you.

[2018-05-07 12:48] fintelkai commented on #42
The good reason is precisely that we haven’t had time to look into exactly what’s needed (although I’ve collected some material) and then to do that. It’s on the summer bucket list but if you can help, we’d be very happy to get pull requests that get the package into the right shape for CTAN submission.

[2018-05-07 13:40] alecshaw opened #43 "Single word for style name"
Seeing issue #42 and in the interest of preparing a release for CTAN, I want to propose a change to the filenames and see what everyone has to say.

In my own installation of the stylesheet, I symlink from my local copy of the repository to the appropriate location in the TeX directory structure. I also change the filenames to `unified.bbx` and `unified.cbx`. I prefer `style=unified` as a package

[2018-05-07 14:34] sieversMartin commented on #42
I added a script to use `ctanify` to wrap up an archive.

`README.md` should contain versioning and licensing information as well for CTAN

[2018-05-07 14:42] fintelkai commented on #43
In principle, `unified.{bbx,cbx}` would be a fine choice. But CELxJ distributes a `unified.bst` bibtex style, which was prepared by Bridget Samuels based on `sp.bst`. Would this be confusing?

[2018-05-07 14:45] sieversMartin commented on #43
If the package name is `biblatex-unified` or `biblatex-sp-unified` then naming the style itself just `unified` sounds good to me.

[2018-05-08 13:00] fintelkai commented on #42
Yes, thank you. I think the entire documentation needs to be checked and edited to reflect the CTAN organization of files etc. So, that's still to do. In general, the package should follow the biblatex style conventions for CTAN packages, which I'm not sure it does.

I will not have significant brain cycles to devote to this until after June 3. But I'm happy that there's enthusiasm and support.

[2018-05-08 13:02] fintelkai commented on #43
Before the CTAN upload, we should make sure that the naming choices are in concert with biblatex practices.

[2018-05-08 13:02] sieversMartin commented on #43
Fully agree.

[2018-05-08 13:07] #41 closed, assigned to nobody

[2020-05-25 17:41] fintelkai commented on #43
Today, I finally submitted the package to CTAN under the proposed name `biblatex-unified`. The style files are now called `unified.{bbx,cbx}` and they can be called via the `style=unified` option. Thanks, @alecshaw and @sieversMartin for the help (oh so long ago).

[2020-05-25 17:41] #43 closed, assigned to nobody

[2020-05-25 17:42] fintelkai commented on #42
Today, I finally submitted the package to CTAN under the proposed name biblatex-unified. The style files are now called unified.{bbx,cbx} and they can be called via the style=unified option. Thanks, @alecshaw and @sieversMartin for the help (oh so long ago).

[2020-05-25 17:42] #42 closed, assigned to nobody

[2020-05-25 17:44] fintelkai commented on #40
The new version of the citation style does not overwrite biblatex's compatibility code. The legacy macros `\pgcitep` and siblings are still in there, but we'll retire them at some point. In other news, I finally submitted the package to CTAN under the proposed name biblatex-unified. The style files are now called unified.{bbx,cbx} and they can be called via the style=unified option.

[2020-05-25 17:44] #40 closed, assigned to nobody

[2020-05-25 17:50] fintelkai commented on #33
This is now fixed. The citation style (now called `unified.cbx`) is built on top of `authoryear-comp.cbx` and typesets date ranges correctly.

[2020-05-25 17:50] #33 closed, assigned to nobody

[2020-09-10 14:59] jimlaloi opened #48 "\textcite undefined control sequence when using biblatex-unified without sp.cls"
When using `biblatex-unified` with S&P's `sp.cls`, I'm able to use `\textcite` no problem. However, when using `biblatex-unified` _without_ `sp.cls`, I get an undefined control sequence error.

Minimum working example:
[code]

If I change `\documentclass{article}` to `\documentclass[biblatex]{sp}`, then it compiles correctly.

I assume there's something in the `sp.cls` code that `biblatex-unified`

[2020-09-10 16:44] fintelkai commented on #48
@jimlaloi: The problem isn't specific to `\textcite`. The unified citation style uses hyperlinking between citations and bibliography and thus requires the hyperref package. If you add `\usepackage{hyperref}` to the preamble of your MWE, it compiles ok. We will either add this requirement to the documentation and/or make it so that `unified.cbx` enforces the loading of hyperref. Thanks for the rep

[2020-09-10 17:14] jimlaloi commented on #48
That makes sense, thanks!

[2020-09-10 17:14] #48 closed, assigned to nobody

[2020-10-27 12:15] andrasbarany opened #49 "Remove "p." from postnote?"
As is, a command like `\textcite[xx]{citekey}` outputs "Author (Year: p. xx)", where "p." is part of the `postnote` in biblatex.

As far as I can tell, the Unified Style Sheet does not mention this, but a cursory look at two recent, random papers from Language and Semantics and Pragmatics suggests that adding "p." before a page reference is not actually what usually happens. In Bruening (2018: 3)

[2021-03-18 12:23] carbeck commented on #49
Wouldn't this also omit any other type of pagination (columns, sections, etc.) defined in the `pagination` field in bibliography entries, though?

[2021-04-25 11:39] art-keidan opened #50 "non-separable ampersand"
Please, glue the "&" symbol to the preceding Author's name, otherwise it would be sometimes sent to the next line, which looks ugly:
![Ampersand](https://user-images.githubusercontent.com/18039080/115992007-ab8caf00-a5cb-11eb-9019-525dac726745.png)

[2021-05-28 12:41] fintelkai commented on #49
As @carbeck says, this is too blunt a solution. You can certainly use that locally in your preamble, if you prefer it this way. BTW: the example from Sharvit (2017: p.3) was (erroneously, perhaps) typeset with the leftover `\pgcitealt` command.

If we can figure out how to just disable the "p./pp." prefix and keep the other pagination options, we might consider it. Reading the manual and the sourc

[2021-05-28 12:54] fintelkai commented on #50
@art-keidan: I think the following might work, so you could try that in your preamble:

[code]

Alternatively, you could check out the `develop` branch of this repo and see whether it fixes the problem.

[2021-05-28 14:16] art-keidan commented on #50
Thank you, this works fine to me!

[2021-05-28 17:14] sieversMartin commented on #49
I agree that there is no high-level option. However, when looking a bit lower, one could redefine the macro `\blx@imc@mkpageprefix` by setting the default to `none` instead of `page` and by adding an extra test for cases, when `page` is set explicitly in the bib file. This way other values for `pagination` can still be used:
[code]

[2021-12-05 22:14] u-fischer commented on #48
This problem is still open. The style errors without hyperref, but this is neither documented nor enforced somehow.

[2021-12-05 22:33] fintelkai commented on #48
Both the readme and the pdf documentation state explicitly:

@u-fischer: A pull request that improves on that in some way would be welcome.

[2021-12-05 22:53] u-fischer commented on #48
This isn't in the documentation I got in a current texlive, and I also don't see that on ctan http://mirrors.ctan.org/macros/latex/contrib/biblatex-contrib/biblatex-unified/README.md

Did you actually upload the changes?

[2021-12-05 23:00] fintelkai commented on #48
I thought we did but can't find a record of it. I guess we need to do it again.

[2022-02-05 20:12] fintelkai commented on #50
This is now incorporated into v1.1 of `biblatex-unified`.

[2022-02-05 20:12] #50 closed, assigned to nobody

[2022-02-05 20:46] fintelkai commented on #48
I have now uploaded the new version v1.10, which includes the documentation updates and some other minor improvements.

[2022-02-07 12:35] art-keidan commented on #50
Thanks again.

[2022-10-31 19:50] seoyeonjang opened #52 "A solution for undefined control sequence \abx@macro@name:family-given"
Hello,

First of all, thanks for the package! I just wanted to share that I encountered an error log while running the `unified-test.tex` and somehow I managed to solve it.

Here's the error message:

[code]
Based on [the answer to a similar issue](https://tex.stackexchange.com/questions/303930/problem-with-update-biblatex) on StackExchange, I redefined `name:family-given` in `unified.bbx`.
At fir

[2022-11-06 19:34] fcbond opened #53 "Please also add unified.bst"
Hi,

for those of us still using bibtex, it would be nice if you could also distribute ``.

I attach a slightly improved version, renamed to unified.txt to make github happy.
[unified.txt](https://github.com/semprag/biblatex-sp-unified/files/9946682/unified.txt)

Yours,

[2022-11-07 15:41] fintelkai commented on #53
For legacy bibtex users, we distribute `sp.bst` (our old version of `unified.bst`) at https://github.com/semprag/tex/blob/master/sp.bst, as part of S&P's LaTeX package. It is not part of `biblatex-unified`, since that's a biblatex implementation of the Unified Stylesheet. The `biblatex-unified` readme currently has an incorrect link, which will be fixed.

If you want to maintain and distribute `un

[2022-11-07 15:41] #53 closed, assigned to nobody

[2022-11-08 17:50] fintelkai commented on #52
I cannot reproduce the error on a current version of TeXLive 2022. You are probably running old versions of `biber` and `biblatex`.

[2022-11-13 11:56] art-keidan opened #54 "Colon before pages"
I am so used to write a colon after the journal volume+number, before pages. Would it be possible to enable such an option?  Or, is there a workaround?

[2022-11-13 17:49] fintelkai commented on #54
1. `biblatex-unified` implements the Unified Stylesheet, which doesn't use a colon.

2. A quick but ugly workaround: in your preamble after loading `biblatex-unified`, redefine the article driver and the `bibpagespunct` command:

3. Over the winter, a refactoring of `unified.bbx` is planned, which will probably make such customizations easier. So, stay tuned.

[2022-11-13 17:49] #54 closed, assigned to nobody